* {
    box-sizing: border-box;
    padding: 0; 
}

main, header, nav, article, aside {
    border: 1px solid black;
}
/*MAIN KIALAKÍTÁSA EGYSÉGES*/



/*Fejléc Kialakítása: EGYSÉGES*/

/*MEnü kialakítása: EGYSÉGES*/


/*Linkel a menüben*/

/*Article Kialakítása*/


/*Footer*/


/**/